//
// The Variables
//

$secondary-colors: (
  white: #FFFFFF,
  black: #000000,
);

$colors: (
  color1: #8783D1,
  color2: #AA9ABA,
  color3: #BFA4A4,
  color4: #D1ABAD,
  color5: #E3B9BC
) !default;

$testColor: #000 !default;

$text-font: 'Open Sans', sans-serif;
$logo-font: 'Lobster', cursive;
$small-width: 768px;
$large-width: 1024px;