$grey-color: grey;
$black-color: black;
$white-color: white;

@use './loader.scss';

body {
	background-color: $grey-color;
	color: $black-color;
}

#portal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	& .activityindicator {
		display: flex;
		background-color: $black-color;
		opacity: 0.5;
		width: 100vw;
		height: 100vh;
		align-items: center;
		justify-content: center;

		&__loadingText {
			font-size: 36px;
		}
	}
}
