//
// Header
//

@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;
@use '../abstracts/mediamixins' as media;
@use '../abstracts/extends';

@use 'sass:map';

header {
   #navWrapper {
      display: flex;
      justify-content: space-between;
      height: func.pxtorem(30);
      background-color: map.get($map: vars.$colors, $key: color1);
      color: map.get($map: vars.$secondary-colors, $key: white);
      padding: 25px 20px;

      .logo {
         font-size: 1rem;
         font-family: vars.$logo-font;
      }
      @include media.small { .logo { font-size: 1.3rem;  } }

      // ul {
      //    margin: 0;
      //    display: flex;
      //    list-style-type: none;
      //    li {
      //       margin-right: func.pxtorem(20);
      //       a {
      //          color: map-get($map: vars.$secondary-colors, $key: white);
      //          &:hover { font-weight: 700; }
      //       }
      //    }
      // }

      .nav {
         &__list {
            margin: 0;
            display: flex;
            list-style-type: none;
         }
         &__item {
            margin-right: func.pxtorem(20);
         }
         &__link {
            color: map.get($map: vars.$secondary-colors, $key: white);
            &:hover { font-weight: 700; }
            &--active {
               @extend .nav__link;
               text-decoration: underline;
            }
         }
      }
   }

   #heroWrapper {
      height: 500px;
      @include mix.linearGradient(
         90deg,
         map.get($map: vars.$colors, $key: color3),
         map.get($map: vars.$colors, $key: color2)
      );
      .hero-content-container {
         @extend %flex-center-wrap-column;
         .hero-text {
            width: 50%;
            font-size: 3rem;
            margin-bottom: func.pxtorem(50);
         }
         .hero-shape {
            @include mix.shape(100px, circle, map.get($map: vars.$colors, $key: color1));
         }
      }
   }
}