//
// Buttons
//

@use '../abstracts/variables' as vars;

.button {
  border: none;
  padding: 15px;
  background-color: map-get($map: vars.$colors, $key: color1);
  text-transform: uppercase;
  &:hover {
    background-color: map-get($map: vars.$colors, $key: color2);
  }
}